.footerbanner{
    @include page;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    cursor: pointer;
    @media screen and (max-width: 1400px){
        width: 70%;
    }
}
.footerbannerimg{
    width: 80%;
    img{
        width: 100%;
    }
}
//Footer

footer{
    background-color: black;
    padding:20px;
    
    
}
.footercontainer{
    @include page;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4em;
    color: rgb(245, 235, 235);
    padding: 20px 0;
    margin-bottom: 30px;
    @include roboto;
    img{
        width: 100%;
    }     
    @media screen and (max-width: 1400px){
        grid-template-columns: 1fr 1fr;
        
    }
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        
    }  
.columnfooter:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    gap: 1em;
    color: #9fa6bd;
    padding: 30px 0 0;
    @include bar;
    img{
    width: 40%;
    margin-left: 0;
    }
}
.popularpostwrapper{
   display: flex; 
   flex-direction: column;
   justify-content: space-around;
}
.popularpostimg{
    display: grid;
    grid-template-columns: 3fr 6fr;
    gap: 1em;
    align-items: center;
    padding: 10px;
}
.textpopularpost{
    span{
        font-size: 16px;
        font-weight: 600;
        @include trans;
        cursor: pointer;
    }
    span:hover{
        color: red;

    }
    small{
        font-size: 13px;
    }
}
}
.columnfooterbanner{
    padding: 30px;
    cursor: pointer;
}