// premier header
.trendingtitle{
    width: 100%;
    background-color: black;
    height: 50px;
    display: flex;
    @include roboto;
    font-size: 14px;
    @media screen and (max-width:768px){
        display: none;
        
    }
}
.trendingtitlecontainer{
    @include page;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;

  
   
    .left i{
        color: #ff2143;
        margin-right: 5px;
    }
    .right i{
        padding-right: 15px;
    }
    span:nth-of-type(1){
        text-transform: uppercase;
    }
}
#ktm{
    @media screen and (max-width:1000px) {
        display: none;
    }
}
// deuxieme header
.logo{
   @include page;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:7px 0;
   img:nth-of-type(2){
    @media screen and (max-width:768px){
       width:60%;
       margin:0 auto
        
    }
    @media screen and (max-width:1100px) {
        width:80%;
        
    }
   }
   
   
   img:nth-of-type(1){
    @media screen and (max-width:768px) {
        display: none;
        
    }

}
}

// navigation

nav{
    background-color: #ff2143;
}
.navwrapper{
    display: grid;
    grid-template-columns: 8fr 2fr 1fr;
    align-items: center;
    height: 80px;
    @include page;
    @include roboto;
}
.linksheader, .socialright, .searchbutton{
    display: flex;
    align-items: center;
    a{
        text-transform: uppercase;
        color: white;
        padding: 0 15px;
        @include trans;
        font-size: 15px;
    }
       
}
.linksheader a{
    border-right: 1px solid white;
    &:nth-of-type(5){
        border-right: none;
    }
    @media screen and (max-width:768px) {
        display: none;
        
    }
}
.socialright{
    display: flex;
    justify-content: center;
    border-left: 1px solid white;
    @media screen and (max-width:1000px) {
        display: none;
        
    }
}
.searchbutton{
    justify-content: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    @media  screen and (max-width:768px) {
        display: none;
        
    }
}

//Burgermenu

.burgermenu{

    width: 40px;
    height:40px;
    display: none;
    cursor: pointer;
    @include trans;
    
        .line{width: 70%;
            color: white;
            border: 2px solid white;
            border-radius: 5px;
        
        }
     @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
     }   
}
#hamburger-12.active .line:nth-child(1){
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  #hamburger-12.active .line:nth-child(3){
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }



//logo responsive

.logoresponsive{
    display: none;
    @media  screen and (max-width:768px) {
        display: block;
        
    }
}

// transition socials

.socialright a:hover{
    transform: matrix3d(-1,0,0.00,0,0.00,1,0.00,0,0,0,-1,0,0,0,0,1);
-webkit-transform: matrix3d(-1,0,0.00,0,0.00,1,0.00,0,0,0,-1,0,0,0,0,1);
}
