.thirdblock{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2em;
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        
    }

}
.thirdblock>img{
    @media screen and (max-width: 768px){
        display: none;
        
    }
}
.mostpopular{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    @include bar;

    h6{
        font-size: 22px;
        margin: 0;
    }
    span{
        font-size: 16px;
        font-weight: 700;
    }
    small{
        font-size: 12px;
    }

}

.mostpopularimgwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    @media screen and (max-width: 1400px){
        grid-template-columns: 1fr 1fr;
        
    }
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        
    }
  
}
.mostpopularimg{
    display: flex;
    flex-direction: column;
    span{
        @include trans;
        margin-top: 10px;
        cursor: pointer;
    }
    span:hover{
        color: red;
    }
    
}